.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  width: 50rem;
  height: 50rem;
}

.title {
  margin-bottom: 1.5rem;
  width: 15rem;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-gold);
}

.subtitle {
  margin-bottom: 2rem;
  width: 30rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.text-container {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.link,
.text {
  text-align: center;
  font-size: 1.3rem;
  color: var(--color-secondary);
}

.form-input {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  width: 40rem;
  height: 4rem;
  border: 0.1rem solid var(--color-border);
  border-radius: 5px;
}

.form-input:focus {
  outline: 3px solid var(--color-white-blue);
  border-color: var(--color-blue);
}

.form-button {
  margin-bottom: 2.5rem;
  width: 40rem;
  height: 4rem;
  color: white;
  border-radius: 5px;
  background-color: var(--color-tertiary);
  transition: var(--transition-smooth);
}

.form-button:hover {
  background-color: var(--color-secondary);
}
