.max-width {
  width: 100%;
  max-width: 110rem;
  padding: 0 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 4rem 0 4rem 3rem;
  font-size: 2.8rem;
  color: var(--color-secondary);
}

.contents-wrapper {
  padding: 0 2rem;
}

.contents-wrapper > div:first-child {
  margin: 5rem auto 6rem;
  display: flex;
  justify-content: space-between;
}
