.header {
  padding: 0.8rem 1rem;
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 1rem var(--color-tertiary);
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 130rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20rem;
  cursor: pointer;
}

.link,
.text {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  color: var(--color-secondary);
  cursor: pointer;
}

.link:hover {
  color: var(--color-main);
  transform: var(--translate-smooth);
}

.text-container {
  display: flex;
  gap: 2rem;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

.text-container-right {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

.text-logo-container {
  display: flex;
  cursor: pointer;
}

.blue {
  color: var(--color-blue);
  font-weight: var(--weight-semi-bold);
}
