.join-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  width: 50rem;
  height: 80rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 70rem;
}

.title {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  width: 15rem;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  color: var(--color-gold);
}

.subtitle {
  margin-bottom: 2.5rem;
  width: 40rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.label {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--color-secondary);
}

.error,
.correct {
  margin-bottom: 1rem;
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: var(--weight-semi-bold);
  animation: fadein 0.3s;
}

.correct {
  color: var(--color-green);
}

.form-input {
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 40rem;
  height: 4rem;
  border: 0.1rem solid var(--color-border);
  border-radius: 5px;
}

.form-input:focus {
  outline: 3px solid var(--color-white-blue);
  border-color: var(--color-blue);
}

.form-input::placeholder {
  color: var(--color-tertiary);
  font-size: 1.2rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 40rem;
  height: 4rem;
}

.id {
  width: 29rem;
}

.auth {
  width: 15rem;
}

.none {
  display: none;
}

.file {
  line-height: 4rem;
  font-size: 1.3rem;
}

.form-button {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  width: 40rem;
  height: 4rem;
  line-height: 4rem;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-tertiary);
  transition: var(--transition-smooth);
}

.form-check-button {
  width: 10rem;
  height: 4rem;
  cursor: pointer;
  color: var(--color-blue);
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--color-white-blue);
}

.form-check-button:disabled {
  opacity: 0.5;
  cursor: default;
}

.form-button:hover {
  background-color: var(--color-secondary);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
