.form {
  padding: 2rem 0 2rem 5rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.content-title {
  width: 16rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: var(--weight-semi-bold);
  font-size: 2rem;
  line-height: 3.6rem;
}

.content-wrapper {
  margin: 3rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.input label {
  width: 14.5rem;
  font-weight: var(--color-primary);
  font-weight: var(--weight-bold);
  font-size: 1.6rem;
  text-align: end;
}

.input input {
  padding: 0.5rem 0 0.5rem 1.4rem;
  width: 30rem;
  border: 1px solid var(--color-border);
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.input:first-child input {
  width: 18rem;
}

.input input:disabled {
  background-color: var(--color-bright-grey);
}

.input input::placeholder {
  color: var(--color-border);
  font-size: 1.2rem;
}

.error {
  position: absolute;
  left: 18rem;
  top: 3.5rem;
  display: block;
  color: var(--color-red);
  font-size: 1.2rem;
  font-weight: var(--weight-semi-bold);
}
