.form {
  width: 100%;
  padding: 2rem 5rem 2rem 5rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.content-title {
  width: 16rem;
  text-align: center;
  color: var(--color-primary);
  font-weight: var(--weight-semi-bold);
  font-size: 2rem;
  line-height: 3.6rem;
}

.content-wrapper {
  margin: 3rem 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.input {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.input label {
  width: 10.5rem;
  font-weight: var(--color-primary);
  font-weight: var(--weight-bold);
  font-size: 1.6rem;
  text-align: end;
}

.input input {
  padding: 0.5rem 0 0.5rem 1.4rem;
  width: 25rem;
  border: 1px solid var(--color-border);
  font-size: 1.6rem;
  color: var(--color-secondary);
}

.image-input::file-selector-button {
  display: none;
}

.input:first-child input {
  width: 18rem;
}

.input input:disabled {
  background-color: var(--color-bright-grey);
}

.alert {
  margin-bottom: 1.5rem;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  font-size: 1.6rem;
  background-color: var(--color-white-blue);
  position: relative;
  animation: fadeInDown 1s;
}

.alert.green {
  background-color: rgb(226, 250, 211);
}

.alert.red {
  background-color: rgb(255, 211, 211);
}

.question {
  margin: 2rem 0 0 2rem;
  background-color: var(--color-tertiary);
  color: var(--color-white);
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: default;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
